* {
    box-sizing: border-box;
    margin: 0;
/*    font-family: ;*/
}

html {
    background-color: #f3f3e6;
}

body main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}

body main h1.title {
    font-size: 4rem;
    text-align: center;
    color: #1d1912;
}

body main hr.title {
    width: 80%;
    height: 0.45rem;
    background: #bb8525;
    margin-left: 10%;
    margin-right: 10%;
}

body main img {
    border-radius: 5%;
    grid-column: 1 / 4;
    width: 40%;
    margin: 3rem 30% 0 30%;
}