
@media screen and (max-width: 425px) {

div.top-block  {
    display: grid;
    grid-template-columns: 40% auto 40%; 
    align-items: center; 
    margin-top: 1rem;
}
h1.menu-up{
    text-align: center;
}

.menu-first hr.line-menu-left{  /*ajustement hr mare*/
    margin-left: auto;  
    margin-right: auto;}

.menu-second hr.line-menu-right{ /*ajustement hr cibus*/
    margin-right: auto;
    margin-left: auto;
}
.menu-third hr.line-menu-left{  /*ajustement hr coctio*/
    margin-left: auto;  
    margin-right: auto;
}
.menu-fourth hr.line-menu-right{ /*ajustement hr modus*/
    margin-right: auto;
    margin-left: auto;
}
.menu-fifth hr.line-menu-left{ /*ajustement hr modus*/
    margin-right: auto;
    margin-left: auto;
}

h2#title-first,
h2.title-second, 
h2.title-third,
h2.title-fourth,
h2.title-fifth {
    font-size: 1.5rem;
    text-align: center;
}

ul.hidden-list li {
    padding: 0.2rem;
    text-align: left; 
    margin-right: 1.5rem;
}


div.menu-first,
div.menu-third,
div.menu-fifth{
    max-width: 100%;
    flex-direction: column;
    text-align: center;
}

div.menu-second,
div.menu-fourth{
    max-width: auto;
    flex-direction: column-reverse;
    align-items: center;

}

div.text-menu-first,
div.text-menu-second,
div.text-menu-third,
div.text-menu-fourth,
div.text-menu-fifth {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: smaller;
    text-align: center;
    align-items: center;
    font-size: 12px;
    }


ul.hidden-list {
    list-style: none;
    text-align: center;
}

.image-second img,
.image-fourth img,
.image-first img,
.image-third img,
.image-fifth img {
    max-width: 30%;
}

div.image-first,
div.image-third,                /*alignement 3e et 5e image*/
div.image-fifth,
div.image-second,
div.image-fourth {               /*alignement 1ere image*/
    margin-right: 2rem;
}


.image-first img,
.image-third img,
.image-fifth img {
    margin-left: 3rem;
    margin-right: 1rem;
}

.image-fourth img,
.image-second img {
    margin-right: 5rem;
}

main {
    display:block;
    width: 100%;
    }  

form>h2 {
    color: #BB8525;
    width: auto;
}
section {
    display: block;
    margin-left: 0;
}   
img {
     width: 100%;
     height: auto;
   }

section#reservation-adresse {
    flex-direction: column;
   
}  

section {
    margin-top: 5px;
}

}

/* -----------------------------------------------------------------------------Style pour le menu------------------------------------------- */

div.top-block  {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; 
    align-items: center; 
    margin-top: 5.1rem;
}

div.top-block hr {
    width: 80%;
    margin: 0 10% 0 10%;
}

body {
    background-color: #F3F3E6;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr.line-menu-left,
hr.line-menu-right {
    height: 0.2rem;
    background-image: linear-gradient(to left, transparent, #BB8525, transparent);
    border: none;
    margin-left: 6rem ;
    margin-right: 6rem;
}


.menu-up {
    font-size: 3.5rem;
    color: #1d1912;
    text-align: center;
    font-style: italic ;
}

.menu-first,
.menu-third,
.menu-fifth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
  
}

.menu-second,
.menu-fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
 
}

.line-menu {
    color: #BB8525;
    width: 70%;
    size: 100px;
}

.text-menu-first,
.text-menu-third,
.text-menu-fifth,
.text-menu-second,
.text-menu-fourth {
    flex: 1;
    text-align: center;
    padding: 20px;
    font-style: italic ;
    font-size: large;
    color: #BB8525;
}

.image-first,
.image-third,
.image-fifth,
.image-second,
.image-fourth {
    flex: 1;
    text-align: center;
   
}

.image-second img,
.image-fourth img {
    margin-left: 2rem;
    margin-right: 3rem;
}


.image-first img,
.image-third img
.image-fifth img {
    margin-left: 2rem;
    margin-right: 1rem;
}

.image-first img,
.image-third img,
.image-fifth img,
.image-second img,
.image-fourth img {
    max-width: 80%;
    border-radius: 20% 10% / 10% 20%;
    box-shadow: 8px 8px 2px 1px rgb(187, 133, 37);
    transition : transform 1s ease;
}

.image-first img:hover,
.image-third img:hover,
.image-fifth img:hover,
.image-second img:hover,
.image-fourth img:hover {
    transform: scale(1.1);
}

p.p-hidden1,                             
p.p-hidden2,
p.p-hidden3,
p.p-hidden4,                        
p.p-hidden5{
    font-size: large;                   
}

 /*rajout----------------------------------------------------------------------------------------test hover */
.p-hidden1:hover,
.p-hidden2:hover,
.p-hidden3:hover,
.p-hidden4:hover,
.p-hidden5:hover {
    display: block;
}

.hidden-list {
    display: none;
    list-style-type: none;
    overflow: hidden;
}
ul.hidden-list li {
    margin-right: 1.5rem;
    padding: 0.2rem;
    text-align: center; 
}

.hidden-list:hover {
    display: block;
}

.p-hidden1:hover + .hidden-list,
.p-hidden2:hover + .hidden-list,
.p-hidden3:hover + .hidden-list,
.p-hidden4:hover + .hidden-list,
.p-hidden5:hover + .hidden-list {   
    display: block;
    margin: 1rem;
}

.hidden-list li::before {
    content: "•";
    margin-right: 0.1rem;
}


   /* ---------------------------------------------------Style pour le formulaire ---------------------------------------------------------*/

section#reservation-adresse {
    display: inline-flex;
}

section#adresse, form {
    margin-top: 5rem
}

section#reservation-adresse form, section#reservation-adresse section#adresse {
    margin: 5rem 2% 5rem 2%;
}

section#reservation-adresse form {
    width: 46%;
}

p, h2, form { 
    display: block;
    text-align: center;
    max-height: 100%;
}


form {    
    clear: both;
}

form>fieldset {
    position: relative;
    align-items: center;
    justify-content: space-around;
}


form fieldset h2, section#adresse h2 {
    color:#BB8525;
    margin-bottom: 20px;
    font-size: 1.4em;
    margin: 0 auto;
}



form fieldset h2, section#adresse h2 {
    margin-top: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
/*input[type="réservation"],*/
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
textarea {
    width: 70%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 235px;
}

/* Style pour le bouton de soumission */
button {
    background-color: goldenrod;
    color: #fff;
    border: none;
    padding: /*10px 20px*/ 20px 30px;
    border-radius: /*4px*/ 50%;
    cursor: pointer;
}

/* Style pour le bouton de soumission au survol */
button:hover {
    background-color: #766017;
}

button {
    font-size: 0.75em;
}

fieldset, #adresse, footer {
    border:1px solid goldenrod;
}

/*TEST diapo en continu*/     

* {box-sizing:border-box}

section#adresse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
}

.mySlides img {
    width: 100%;
    height: auto;
    border-radius: 20% 10% / 10% 20%;
    box-shadow: 8px 8px 2px 1px rgb(187, 133, 37);
    margin-bottom: 2rem;
}


div.adresse p:first-of-type {
    margin-bottom: 2rem;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 2.5s;
}

@keyframes fade {
from {opacity: .8}
to {opacity: 1}
}

/*FOOTER CSS*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border:1px solid goldenrod;
    width: 96%;
    margin: 1rem 2% 1rem 2%;
}

a {
    color:goldenrod ;
    padding: 0;
    text-decoration: none;
    font-size: 1.75rem;
}

a:hover{
    color: #766017;
}


.social{
    margin: 1rem 1rem 1rem 1rem;
    padding: 0;
}

/*FIN FOOTER*/
/*FIN test diapo continu*/


/*----------------------------------------------------------test animation----------------------------------------------------------------*/
@keyframes slideFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
.image-first img,
.image-third img,
.image-fifth img {
    animation: slideFromRight 1s ease-out;
}

@keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.image-second img,
.image-fourth img {
    animation: slideFromLeft 1s ease-out;
}

/*--------------------------------------------------------------Media Queries---------------------------------------------------------------------*/

 @media screen and (max-width: 425px) {

    section#reservation-adresse form {
        width: auto;
    }

    div.top-block {
        grid-template-columns: 1fr;
    }

    div.top-block h1 {
        margin-top: 0.5rem;
    }

    div.top-block hr {
        width: 80%;
        margin: 0.5rem 10% 0 10%;
    }

    h2#title-first,
    h2.title-second, 
    h2.title-third,
    h2.title-fourth,
    h2.title-fifth {
        font-size: 1.5rem;
        text-align: center;
    }

    div.menu-first,
    div.menu-second,
    div.menu-third,
    div.menu-fourth,
    div.menu-fifth {
        margin-top: 6rem;
    }

    div.image-first,
    div.image-third,
    div.image-fifth,
    div.image-second,
    div.image-fourth {
        margin-left: 0;
        margin-right: 0;
    }

    .image-first img,
    .image-third img,
    .image-fifth img,
    .image-second img,
    .image-fourth img {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
 }